<div class="wrapper" id="wrapper-js">
    <div id="navbar-js">
        <ul>
            <li>
                <a href="/public/index.html">Home</a>
            </li>
            <li>
                <a href="/public/saved.html">Saved Articles</a>
            </li>
            <li>
                <a href="#about">Scrape New Articles</a>
            </li>
        </ul>
    </div>
    <div class="articles" id="articles-js">

    </div>
</div>