<div class="wrapper" id="wrapper-js">
    <div id="navbar-js">
        <ul>
            <li>
                <a href="/articles">Home</a>
            </li>
            <li>
                <a href="/savedarticles">Saved Articles</a>
            </li>
            <li>
                <form action="/scrape" method="POST" class="navbar-form navbar-left">
                    <button type="submit" class="btn btn-default">SCRAPE NEW ARTICLES!</button>
                </form>
            </li>
        </ul>
    </div>
    <div class="picture">

    </div>
    <div class="articles" id="articles-js">
        {{#each articles}}
        <div class="titles">
            {{this.title}}
        </div>
        <form action="/save" method="POST">
            <input id="article-title" type="hidden" name="title" value="{{this.title}}">
            <input id="article-link" type="hidden" name="link" value={{this.link}}>
            <button type="submit" class="btn btn-default pull-right">SAVE ARTICLE</button>
        </form>
        <div class="links">
            {{this.link}}
        </div>
        {{/each}}
    </div>
</div>